.ra-input.ra-input-image {
  .MuiFormControl-root {
    width: 100%;
  }
}

.ra-input.ra-input-thumbnail {
  .MuiFormControl-root {
    width: 100%;
  }
}

.ra-input.ra-input-resume {
  .MuiFormControl-root {
    width: 100%;
  }
}
